@page "/reservations"

@using Assignment2.Models;
@using System.Text;


<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 350px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .ColumnB {
        content: "";
        display: table;
        clear: both;
    }

    .myself .property {
        width: 25%;
        display: inline-block;
        box-sizing: border-box;
        text-align: right;
    }

    .myself .value {
        text-align: left;
        padding-left: 10px;
        width: 70%;
        display: inline-block;
        box-sizing: border-box;
    }


    .container {
        position: relative;
    }

    .center {
        position: absolute;
        left: 50%;
    }

    .columnC {
        float: left;
        width: 100%;
        padding: 10px;
        height: 150px;
        box-sizing: border-box;
    }

    .columnB {
        clear: both;
        width: 100%;
        padding: 10px;
        height: 150px;
        margin-top: 450px;
    }

    .columnD {
        clear: both;
        width: 100%;
        padding-top: 130px;
        height: 350px;
       
    }

    .myself .valueC {
        text-align: left;
        padding-left: 10px;
        width: 70%;
        display: inline-block;
        box-sizing: border-box;
    }

    .myself .propertyC {
        width: 25%;
        display: inline-block;
        box-sizing: border-box;
        text-align: right;
    }

    .form-control {
        width: 100%;
    }

    .button1 {
        width: 300px;
    }
</style>

<div class="row">
    <div class="container">
        <h2 class="text-center p-2">Reservations Finder</h2>
        <div class="row">
            <div class="col-sm-3">
                <label for="explicit-label-name">Code: </label>
                <input class="form-control" type="text" id="code" name="Code" @bind="@inputResCode">
            </div>
            <div class="col-sm-3">
                <label for="explicit-label-name">Airline: </label>
                <input class="form-control" type="text" id="code" name="Airline" @bind="@inputAirline">
            </div>
            <div class="col-sm-3">
                <label for="explicit-label-name">Name: </label>
                <input class="form-control" type="text" id="code" name="Name" @bind="@inputName">
            </div>
            <div class="col-sm-3">
                <label for="explicit-label-name"> </label>
                <button class="btn btn-primary form-control" @onclick="@SearchReservations">Find Reservations</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="columnC myself">
        <div class="row">
            <h2 class="text-center p-2">Reservations</h2>
        </div>
        <select class="form-control" onfocus="this.selectedIndex = -1;" @onchange="@changeReservation">
            @if (resNew.Count() == 0)
            {
                <option>Select your reservation from this list</option>
            }
            else
            {
                @foreach (var res in resNew)
                {
                    <option value="@res.Code"> @res.Code, @res.FlightCode, @res.Airline, @res.Cost, @res.Name, @res.Citizenship, @res.Active </option>
                }
            }
        </select>
    </div>
</div>

<div class="row">
    <div class="columnC myself">
        <div class="row">
            <h2 class="text-center p-2">Reserve</h2>
        </div>
        <div>
            <label>Reservation Code:</label><input class="form-control" type="text" placeholder="Reservation Code" @bind="@currentReservation.Code" readonly />
            <label>Flight Code:</label><input class="form-control" type="text" placeholder="Flight Code" @bind="@currentReservation.FlightCode" readonly />
            <label>Airline:</label><input class="form-control" type="text" placeholder="Airline" @bind="@currentReservation.Airline" readonly />
            <label>Cost:</label><input class="form-control" type="text" placeholder="Cost" @bind="@currentReservation.Cost" readonly />
            <label>Name:</label><input class="form-control" type="text" placeholder="Name" @bind="@currentReservation.Name" />
            <label>Citizenship:</label><input class="form-control" type="text" placeholder="Citizenship" @bind="@currentReservation.Citizenship" />
            <label>Status:</label><input class="form-control" type="text" placeholder="Status" @bind="@currentReservation.Active" />
        </div>
        <br />

        <div class="row">
            <div class="center">
                <button class="btn btn-primary button1" @onclick="SaveReservations">Save</button>
            </div>
        </div>
    </div>
</div>
    

@code {
    string inputResCode;
    string inputAirline;
    string inputName;
    Reservation currentReservation = new Reservation();

    ReservationManager rm = new ReservationManager();
    List<Reservation> reservations;
    List<Reservation> resNew = new List<Reservation>();

    private void changeReservation(ChangeEventArgs e)
    {
        currentReservation = resNew.FirstOrDefault(r => r.Code == e.Value.ToString());
    }

    private void SearchReservations()
    {
        reservations = ReservationManager.GetReservations();
        resNew.Clear();
        Reservation NewReservation;

        if (!String.IsNullOrEmpty(inputResCode) || !String.IsNullOrEmpty(inputAirline) || !String.IsNullOrEmpty(inputName))
        {
            foreach (var res in reservations)
            {
                if (((inputResCode != null) && (inputResCode.ToUpper() == res.Code.ToUpper())) &&
                    ((inputAirline != null) && (inputAirline.ToUpper() == res.Airline.ToUpper())) &&
                    ((inputName != null) && (inputName.ToUpper() == res.Name.ToUpper())))
                {
                    NewReservation = new Reservation(res.Code, res.FlightCode, res.Airline, res.Cost, res.Name, res.Citizenship, res.Active);
                    resNew.Add(NewReservation);
                }        
                else if ((inputResCode != null) && (inputResCode.ToUpper() == res.Code.ToUpper()))
                {
                    NewReservation = new Reservation(res.Code, res.FlightCode, res.Airline, res.Cost, res.Name, res.Citizenship, res.Active);
                    resNew.Add(NewReservation);
                }
                else if ((inputAirline != null) && (inputAirline.ToUpper() == res.Airline.ToUpper()))
                {
                    NewReservation = new Reservation(res.Code, res.FlightCode, res.Airline, res.Cost, res.Name, res.Citizenship, res.Active);
                    resNew.Add(NewReservation);
                }
                else if ((inputName != null) && (inputName.ToUpper() == res.Name.ToUpper()))
                {
                    NewReservation = new Reservation(res.Code, res.FlightCode, res.Airline, res.Cost, res.Name, res.Citizenship, res.Active);
                    resNew.Add(NewReservation);
                }
            }
        }
        else
        {
            resNew = reservations;
        }
    }

    private void SaveReservations()
    {
        var reservationToSave = resNew.FirstOrDefault(r => r.Code == currentReservation.Code);

        if (reservationToSave != null)
        {
            rm.UpdateReservation(reservationToSave);
            SearchReservations();
        }
    }
}
